#add-task {
    color: #6c757d;
}

#add-task:hover {
    color: #d1453b;
}

#burger-btn {
    width: 30px;
    height: 30px;
}

textarea {
    resize: none;
}

.modal-header,
.modal-footer {
    border-width: 0;
}

#change-list-btn {  
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    margin-top: -4px;
}

#add-list-btn {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}