* {
    margin: 0;
    padding: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #d1453b;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-input:focus {
    background-color: #d1453b;
    border-color: #d1453b;
}

#burger-btn {
    width: 30px;
    height: 30px;
}

header {
    background-color: #d1453b;
}

header ul {
    font-size: 18px;
}

#add-task {
    color: #6c757d;
}

#add-task:hover {
    color: #d1453b;
}

.btn-red {
    background-color: #d1453b;
    color: white;
}

.btn-outline-cancle {
    margin-left: 8px;
    border-color: #6c757d;
    color: #6c757d;
}

.btn-outline-cancle:hover {
    border-color: #6c757d;
    background-color: #6c757d;
    color: white;
}

.btn-red,
.btn-outline-cancle {
    font-size:  14px;
    padding: 4px 8px;
}

.btn-red:hover {
    background-color: #B33C34;
    color: white;
    border-color: #B33C34;
}

textarea {
    resize: none;
}

.modal-header,
.modal-footer {
    border-width: 0;
}

#change-list-btn {  
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    margin-top: -4px;
}

#add-list-btn {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}