{% extends 'base.html' %}
{% load static %}

{% block title %}Смена пароля{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}

{% block header %}
    <div class="mx-2 d-flex flex-row justify-content-between align-items-center">
        <a href="{% url 'home' %}" class="btn btn-outline-light me-1">Главная</a>
        <div class="d-flex flex-row align-items-center">
            <a href="{% url 'account' %}" class="m-0 mx-3 text-white">{{ request.user.username }}</a>
            <button id="logout-btn" type="button" class="btn btn-outline-light me-1" data-bs-toggle="modal" data-bs-target="#logoutModal">Выход</button>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <form class="password-change-form" style="margin: 0 auto; margin-top: 100px; max-width: 400px;" method="post" novalidate>
        {% csrf_token %}
        <h1 class="h3 mb-4 fw-normal text-center">Смена пароля</h1>
        {% for field in form %}
        <div name="{{ field.name }}">
            <div class="form-floating mt-2">
                {{ field }}
                <label>{{ field.label }}</label>
                <div class="field-error" id="error-{{ field.name }}" style="display: none">
                    <p></p>
                </div>
            </div>
        </div>
        {% endfor %}

        <div id="empty-errors" style="display: none;">
            <p class="m-0">Заполните все поля.</p>
        </div>

        {% if error %}
        <div id="password-change-errors" style="display: none;">
            <p class="m-0">{{ error }}</p>
        </div>
        {% endif %}

        <div class="text-center">
        	<button class="btn btn-red mt-4 fs-5 px-4" type="submit" id="signup-btn">Изменить</button>
        	<!--<p class="mt-5 mb-3 text-muted">© 2022–{% now 'Y' %}</p>-->
        </div>
    </form>
</div>

<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 300px;">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <h5 class="modal-title" id="logoutModalLabel">Выход</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer pt-4">
                <button type="button" class="btn btn-outline-cancle" data-bs-dismiss="modal">Закрыть</button>
                <a href="{% url 'logout' %}" class="btn btn-red">Выйти</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'account/js/password_change.js' %}"></script>
{% endblock %}