{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
    <div class="mx-2 d-flex flex-row justify-content-end align-items-center">
        <button id="logout-btn" type="button" class="btn btn-outline-light me-1" data-bs-toggle="modal" data-bs-target="#logoutModal">Вход</button>
    </div>
{% endblock %}

{% block content %}

    <div class="container mt-5 text-center" style="max-width: 800px;">
        <h1 class="h3 mb-4 fw-normal px-5">{{ title }}</h1>
        <p class="pt-3 fs-5">Вернутся ко входу.</p>
        <a href="{% url 'login' %}" class="btn btn-red fs-5 px-3">Вход</a>
    </div>

{% endblock %}